<form (submit)="notifyCreate" *ngIf="displayForm">
  <div class="field">
    <label class="label" for="select-adherent">Sélectionner un adhérent :</label>
    <div class="select">
      <select name="id-adherent" id="select-adherent" [ngModel]="reservation.idAdherent" required>
        <option *ngFor="let adherent of adherents" [value]="adherent.idAdherent">
          {{ adherent.prenomAdherent }} {{ adherent.nomAdherent }}
        </option>
      </select>
    </div>
  </div>

  <div class="field">
    <label class="label" for="select-oeuvre">Sélectionner une oeuvre :</label>
    <div class="select">
      <select name="id-oeuvre-vente" id="select-oeuvre" [ngModel]="reservation.idOeuvrevente" required>
        <option *ngFor="let oeuvre of oeuvres" [value]="oeuvre.idOeuvrevente">
          {{ oeuvre.titreOeuvrevente }}
        </option>
      </select>
    </div>
  </div>

  <div class="field">
    <label for="date" class="label">Date de la réservation :</label>
    <div class="control">
      <input [ngModel]="reservation.dateReservation" name="date" type="date" class="input" id="date" required>
    </div>
  </div>

  <div class="field">
    <label for="statut" class="label">Statut de la réservation :</label>
    <div class="control">
      <input [ngModel]="reservation.statut" name="statut" type="text" class="input" id="statut" required>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link" type="submit">Envoyer</button>
    </div>
    <div class="control">
      <a class="button is-text" routerLink="/reservations">Retour</a>
    </div>
  </div>
</form>
