<div *ngIf="oeuvres && oeuvres.length === 0">
  Aucune oeuvre n'est disponible (toutes les oeuvres sont sûrement réservée)
</div>

<div *ngIf="oeuvres && oeuvres.length > 0">

  <form (ngSubmit)="submitToParent()" *ngIf="displayForm" [formGroup]="reservationForm">
    <div class="field">
      <label class="label" for="select-adherent">Sélectionner un adhérent :</label>
      <div class="select"
           [ngClass]="(adherentSelect.invalid && (adherentSelect.dirty || adherentSelect.touched)) ? 'is-danger' : ''">
        <select name="id-adherent" id="select-adherent" formControlName="adherentSelect"
                [(ngModel)]="reservation.idAdherent" required>
          <option *ngFor="let adherent of adherents" [value]="adherent.idAdherent">
            {{ adherent.prenomAdherent }} {{ adherent.nomAdherent }}
          </option>
        </select>
      </div>
    </div>


    <div class="field">
      <label class="label" for="select-oeuvre">Sélectionner une oeuvre :</label>
      <div class="select"
           [ngClass]="(oeuvreSelect.invalid && (oeuvreSelect.dirty || oeuvreSelect.touched)) ? 'is-danger' : ''">
        <select name="id-oeuvre-vente" id="select-oeuvre"
                [(ngModel)]="reservation.idOeuvrevente" formControlName="oeuvreSelect" required>
          <option *ngFor="let oeuvre of oeuvres" [value]="oeuvre.idOeuvrevente">
            {{ oeuvre.titreOeuvrevente }}
          </option>
        </select>
      </div>


    </div>

    <div class="field">
      <label for="date" class="label">Date de la réservation :</label>
      <div class="control">
        <input [(ngModel)]="reservation.dateReservation" name="date" formControlName="dateInput"
               [ngClass]="(dateInput.invalid && (dateInput.dirty || dateInput.touched)) ? 'is-danger' : ''"
               type="date" class="input" id="date" required>
      </div>
      <p class="help is-danger" *ngIf="dateInput.invalid && (dateInput.dirty || dateInput.touched)">
        Renseigner une date valide
      </p>
    </div>

    <div class="field">
      <label for="statut" class="label">Statut de la réservation :</label>
      <div class="control">
        <input [(ngModel)]="reservation.statut" name="statut" formControlName="statutInput"
               [ngClass]="(statutInput.invalid && (statutInput.dirty || statutInput.touched)) ? 'is-danger' : ''"
               type="text" class="input" id="statut" required>
      </div>
      <p class="help is-danger"
         *ngIf="statutInput.invalid && (statutInput.dirty || statutInput.touched)">
        Renseigner un statut de réservation
      </p>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link" type="submit" [disabled]="!reservationForm.valid">Envoyer
        </button>
      </div>
      <div class="control">
        <a class="button is-text" routerLink="/reservations">Retour</a>
      </div>
    </div>
  </form>

</div>
